DATABASE_URL=postgresql://postgres:[SUA-SENHA]@db.XXXXXXXX.supabase.co:5432/postgres
JWT_SECRET=parelave-chave-secreta-2024
NODE_ENV=production
PORT=3000
FRONTEND_URL=https://lavajatopareelave.vercel.app
